@import "/node_modules/bootstrap/scss/bootstrap";

a.router-link-active, li.router-link-active>a {
    color: var(--bs-nav-link-hover-color);
    font-weight: 600;
}

.router-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    text-decoration: none;
    background: none;
    border: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
}

.router-link:hover {
    color: var(--bs-nav-link-hover-color);
    font-weight: 600;
}
