<template>
    <div class="row m-3">
        <div class="col-md-6">
            <form class="border border-top-0 p-2" method="post" action="/data/add-contact">
                <input type="hidden" name="_token" :value="token">
                <input type="hidden" name="lead_id" :value="contact.leadId">

                <legend>Добавление контакта</legend>
                <div class="form-group">
                    <label class="form-label">Имя контакта</label>
                    <input v-model="contact.name" name="name" type="text" class="form-control" required>
                </div>
                <div class="form-group">
                    <label class="form-label">Телефон контакта</label>
                    <input v-model="contact.phone" name="phone" type="number" class="form-control" required>
                </div>
                <div class="form-group">
                    <label class="form-label">Комментарий</label>
                    <input v-model="contact.note" name="note" type="text" class="form-control" required>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end pt-2">
                    <button class="btn btn-primary" type="submit">Привязать</button>
                    <router-link class="btn  btn-secondary" :to="{ name: 'HomeLink'}">Отмена</router-link>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
export default {
    components: {},
    data() {
        return {
            contact: {
                name: null,
                phone: null,
                note: null,
                leadId: this.$route.params.leadId
            },
            token: document.querySelector('meta[name="csrf-token"]').getAttribute('content')
        }
    },
}
</script>

<style lang="scss">

</style>
