<template>
    <div class="p-4">
        <h3>История</h3>
        <table width="100%">
            <tr>
                <th>Дата</th>
                <th>Действие</th>
                <th>Результат </th>
            </tr>
            <template v-for="(history) in historis">
                <tr>
                    <td>{{ history.date }}</td>
                    <td>{{ history.action }}</td>
                    <td>{{ history.result }}</td>
                </tr>
            </template>
        </table>
    </div>
</template>


<script>
export default {
    components: {},
    data() {
        return {
            historis: []
        }
    },
    mounted() {
        axios.post('/data/history', {
            headers: {
                'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
            }
        })
            .then(resource => {
                this.historis = resource.data
            })
            .catch((error) => {
                console.log('error: ' + error)
            })
    }
}
</script>

<style lang="scss">

</style>
