<template>
    <div class="p-4">
        <h3>Выбор сделки</h3>
        <table width="100%">
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Дата создания</th>
                <th>Есть контакт</th>
                <th>Действия</th>
            </tr>
            <template v-for="(lead) in leads">
                <tr>
                    <td>{{ lead.id }}</td>
                    <td>{{ lead.name }}</td>
                    <td>{{ lead.created_at }}</td>
                    <td>{{ lead.contacts }}</td>
                    <td>
                        <button type="button" class="btn btn-info" :disabled="(lead.contacts === 'Да')">
                            <router-link class="btn" :to="{ name: 'AddContactLink', params: { leadId: lead.id }}">Привязать контакт</router-link>
                        </button>
                    </td>
                </tr>
            </template>
        </table>
    </div>
</template>

<script>
export default {
    components: {},
    data() {
        return {
            leads: []
        }
    },
    beforeMount() {
        axios.post('/data/home', {
            headers: {
                'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
            }
        })
            .then(resource => {
                this.leads = resource.data.sort((a, b) => a.created_at > b.created_at ? -1 : 1 )
            })
            .catch((error) => {
                console.log('error: ' + error)
            })
    }
}
</script>

<style lang="scss">

</style>
